
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.section{
  padding-top: 40px;
  padding-bottom: 40px;
}
.section-second{
  min-height: 60vh;
  padding-top: 40px;
  padding-bottom: 40px;
}

.heading{
  color: #fb3d03;
  font-size: 30px;
}

.underline{
  width:70px;
  height: 5px;
  background-color: #fb3d03;
  margin-top: 7px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.paragraph{
  font-size: larger;
}

.nav-item{
  margin-right: 10px;
}
.color{
  background-color: rgb(236, 236, 236);
}
.sub-heading{
  font-size: 20px;
  color: #c8694c;
}
.copyright{
  background-color: rgba(0, 0, 0, 0.05)
}
.text-reset{
  text-decoration: none;
}
.icon{
  height: 30px;
  width: 30px;
}
.card-img-top{
  /* max-height: 275px; */
  max-height: 145px;
}
 .imgDiv{
 max-height: 290px;
  width: auto;
} 
/* .card{
  max-height: 282.83px;
} */
.banner
.carouselExample{
  width: 100%;
  max-height: 100%;
} 
.carousel-inner{
  /* height: 70vh; */
  box-shadow: 0px 7px 28px 1px rgba(0,0,0,0.75);
}

.hello{
  color: rgb(208, 110, 110);
  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: absolute;
  /* width: 100%;
  height: 100%; */
  top:150px;
  left:350px;
  z-index: 1;
}

.bg-image{
  max-height: 70vh; 
  width: 100%;
}

.carousel-item{
  background-size: cover;
  position: relative;
}

.top-bar{
  font-size :15px;
}